<div>
  <div layout="row">
    <div flex="33"></div>
    <div flex="34" class="signupBox">
      <div layout="row" layout-align="center">
        <div flex="20">
          <label for="inputUsername">Username:</label><br />
        </div>
        <div>
          <input id="inputUsername" type="text" placeholder="Username" ng-model="username">
        </div>
      </div>
      <div layout="row" layout-align="center">
        <div flex="20">
          <label for="inputPassword">Password:</label>
        </div>
        <div>
          <input id="inputPassword" type="password" placeholder="Password" ng-model="password">
        </div>
      </div>
      <br />
      <div layout="row" layout-align="center">
        <div flex="45">
          <div class="checkbox">
            <label>
             <input type="checkbox"> Remember me
            </label>
            <md-button class="md-raised" ng-click="register()" type="submit">Submit</md-button>
          </div>     
        </div>
        <div flex="20">
          <img class="iconSize" src="/../../assets/facebook.png" ng-click="loginFacebook()">
          <img class="iconSize" src="/../../assets/google.png" ng-click="loginGoogle()">
        </div>
      </div>
      <br />
      <div layout="row" layout-align="center">
        <span><a ui-sref="app.signup">Sign up here!</a></span>
      </div>
    </div>  
    <div flex="33"></div>
  </div>
</div>
