<div>

   <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>D.A.A.S</h2>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-btn"><a ui-sref="home">Home</a></li>
        <li class="navbar-btn"><a ui-sref="examples">Example</a></li>
        <li class="navbar-btn"><a ui-sref="login">Login</a></li>
      </ul>
    </div>
  </nav>


  <div id="login-container">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-3">
          <input id="inputUsername" type="text" placeholder="Username" class="form-control" ng-model="username">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-3">
          <input id="inputPassword" type="password" placeholder="Password" class="form-control" ng-model="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
             <input type="checkbox"> Remember me
            </label>
            <span><a ui-sref="login">Already Registered? Login Here</a></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-click="register()" type="submit" class="btn btn-default">Sign Up</button>
        </div>
      </div>
    </form>

  </div>



</div>
