<md-dialog style="width: 1000px">
  <md-content >
    <h4>Select a widget</h4>
    <md-tabs>
      <md-tab label="Twitter">
        <section>
          <md-button style="margin: 10px" class="md-raised md-accent" ng-click="appendWidget('twitter-follower', 'barchart', true)">Follower Bar Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-accent" ng-click="appendWidget('twitter-follower', 'donutchart', true)">Follower Donut Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-accent" ng-click="appendWidget('twitter-follower', 'piechart', true)">Follower Pie Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-accent" ng-click="appendWidget('twitter-follower', 'linechart', true)">Follower Line Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-accent" ng-click="appendWidget('twitter-follower', 'splinechart', true)">Follower Spline Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-accent" ng-click="appendWidget('twitter-follower', 'areachart', true)">Follower Area Spline Chart</md-button>
        </section>
      </md-tab>
      <md-tab label="MailChimp">
         <section>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('bar')">Follower Bar Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('donut')">Follower Donut Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('pie')">Follower Pie Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('line')">Follower Line Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('spline')">Follower Spline Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('areaSpline')">Follower Area Spline Chart</md-button>
        </section>
      </md-tab>
      </md-tab>
      <md-tab label="Google">
         <section>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('bar')">Follower Bar Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('donut')">Follower Donut Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('pie')">Follower Pie Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('line')">Follower Line Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('spline')">Follower Spline Chart</md-button>
          <md-button style="margin: 10px" class="md-raised md-primary" ng-click="appendWidget('areaSpline')">Follower Area Spline Chart</md-button>
        </section>
      </md-tab>
      </md-tab>
    </md-tabs>
    <md-button style="float: right" ng-click="done()">Done</md-button>
  </md-content >
</md-dialog>
