#dashboard-list
  max-width 80vw
  max-height 250px
  margin-bottom  20px
  margin-left 125px
.all-dashboards
  margin-top 10px
.dash-nav
  background-color mint
.newDashboard:hover
  color violet
  background-color black
.dash-list
  margin-top 10px
.edit-btn
  position absolute
  left 900px
  max-height 80px
  max-width 80px
.all-dashboards
  margin-top 10px
.dash-nav
  background-color mint
.newDashboard:hover
  color violet
  background-color black
.dash-list
  margin-top 10px
