.side-nav
  height 100vh
  width 20vw
  background-color flatblack
  border-top thin solid black
  border-bottom thin solid black
  overflow hidden
  box-shadow 1px 1px 1px black
#dashboard-nav
  width 101vw
  background-color flatblack
  height 8vh
  overflow scroll
  box-shadow 1px 1px 1px black
.dashboard-body
  padding 0px
.logout-btn
  float right
  position relative
  top 50%
  transform translateY(-50%)
  color #AAB2BD
  margin-right 20px
.logout-btn:hover
  color white !important
  cursor pointer
.nav-choice
  display block
  padding-top 15px
  padding-bottom 15px
  width 30vw
  color #9d9d9d
.nav-choice:hover
  background-color black
  color white
  cursor pointer
.navbar-brand
  color #9d9d9d
.glyphicon
  margin-right 10px
  margin-left 30px
