.navbar-button
  width 12vw
  margin-bottom 30px
.avatar
  max-width 200px
  max-height 200px
  border-radius 50%
  margin-bottom 30px
.sidenav-button
  display block
#dragging
  max-width 250px
  max-height 250px
#content
  overflow scroll
.dash-buttons
  float right
