.navbar
  background-color #DA4453 !important

.btn
  background-color #4A89DC !important

.footer
 bottom 0
 padding 10px
 height 200px

.link
  margin-top 5px
  color #434A54 !important

.navbar-header
  margin-top -10px

body
  background-color #F5F7FA !important

