.navbar
  opacity 0.0
  color white
  margin-bottom 0px

.btn
  background-color #4A89DC !important

.footer
  background-color #141414 !important
  position absolute
  bottom 0
  width 100%
  padding 10px
  height 200px

.link
  margin-top 5px
  color #434A54 !important

.navbar-header
  margin-top -10px

body
  background-color #F5F7FA !important

.container
  color lemon
  width 100%
  height 300px
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
  display inline-block

#home-container-view
  background-image url('../assets/spectreBackground.png')

.bs-header
  background-position center center
  padding 30px 15px 40px
  background-size 100% 100%

.text-center
  text-align center

.title-header
  color white

// #dashboard-examples
//   background-image url('../assets/spectreBackground.png')
//   height 60vh
//   width 100vw
//   display block

#description
  color lemon

// .home-signup
//   background-color r
