.redOrange
  background-color redOrange
.crimson
  background-color crimson
.trueRed
  background-color trueRed
.pinkRose
  background-color pinkRose
.rose
  background-color rose
.peach
  background-color peach
.cherryBlossom
  background-color cherryBlossom
.violet
  background-color violet
.lavender
  background-color lavender
.bellFlower
  background-color bellFlower
.navyBlue
  background-color navyBlue
.steelBlue
  background-color steelBlue
.aqua
  background-color aqua
.blueJeans
  background-color blueJeans
.skyBlue
  background-color skyBlue
.moutainMeadow
  background-color moutainMeadow
.greenBamboo
  background-color greenBamboo
.mint
  background-color mint
.turquoise
  background-color turquoise
.oceanGreen
  background-color oceanGreen
.limon
  background-color limon
.amber
  background-color amber
.saffron
  background-color saffron
.silver
  background-color silver
.porcelain
  background-color porcelain
.selecter-selected
  position relative
  z-index 2
  display block
  overflow hidden
  text-overflow clip
  cursor pointer
.selecter-options
  position absolute
  z-index 50
  width 100%
  max-height 260px
  overflow auto
  overflow-x hidden

