flatblack = #222222
darkWhite = #EEEEEE

//color picker
redOrange = #DC3023 !important
crimson = #C91F37 !important
trueRed = #8F1D21 !important
pinkRose = #EC87C0 !important
rose = #D24D57 !important
peach = #F47983 !important
cherryBlossom = #FCC9B9 !important
violet = #5B3256 !important
lavender = #967ADC !important
bellFlower = #5D3F6A !important
navyBlue = #003171 !important
steelBlue = #4B77BE !important
aqua =  #3BAFDA !important
blueJeans =  #4A89DC !important
skyBlue = #4D8FAC !important
moutainMeadow = #16A085 !important
greenBamboo = #006442 !important
mint =  #37BC9B !important
turquoise = #36D7B7 !important
oceanGreen = #4DAF7C !important
lemon = #F7CA18 !important
amber = #CA6924 !important
saffron = #F4D03F !important
silver = #BFBFBF !important
porcelain = #ECF0F1 !important
darkGray = #434A54 !important
