<div>
 <!--  <nav id='dashboard-nav'>
    <span class="navbar-brand">Spectre Widgets</span>
    <div class="logout-btn"><i class="glyphicon glyphicon-log-out"></i>Logout</div>
  </nav>
  <div class="row">
    <ul class="nav navbar-nav side-nav">
      <li class="nav-choice" ui-sref="app.main.dashboard.dashboards"><span><i class="glyphicon glyphicon-dashboard"></i>Dashboards</span></li>
      <li class="nav-choice" ng-click="dataPopUp()"><span><i class="glyphicon glyphicon-hdd"></i>Data</span></li>
      <li class="nav-choice" ng-click='integrate()'><span><i class="glyphicon glyphicon-list-alt"></i>Services</span></li>
      <li class="nav-choice" ui-sref="app.main.dashboard.settings"><span><i class="glyphicon glyphicon-cog"></i>Settings</span></li>
      <li ui-sref="app.main.dashboard.profile" class="nav-choice"><span><i class="glyphicon glyphicon-user"></i>Profile</span></li>
      <li class="nav-choice"><span><i class="glyphicon glyphicon-log-out"></i>Logout</span></li>
    </ul>
    <section class="col-xs-9 dash-content">
      <ui-view />
    </section>
 </div> -->

  <div>
    <md-button ng-click="toggleLeft()"class="md-primary">
      Toggle right
    </md-button>
  </div>

 <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav left</h1>
      </md-toolbar>
      <md-content class="md-padding">
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
 </section>



</div>
