<md-subheader class="md-accent" style="margin-bottom: 20px">
  <div class="dash-buttons">
    <md-button ui-sref="app.main.dashboards.dashboardCreator">New Dashboard</md-button>
  </div>
</md-subheader>
<div id="dashboard-list" ng-repeat="item in dashboards">
  <md-content>
    <md-card>
      <md-toolbar class="md-accent">
        <h2 class="md-toolbar-tools">
          <span>{{item.title}}</span>

          <md-button class="md-toolbar-tools edit-btn" ng-click="loadDash(item.$$hashKey)">Load</md-button>
        </h2>
      </md-toolbar>
      <md-card-content>
        <span><i>{{item.lastSaved}}</i></span>
        <p>
          {{item.comment}}
        </p>
      </md-card-content>
    </md-card>
</div>
