<md-subheader class="md-accent" style="margin-bottom: 20px">
  <div class="dash-buttons">
    <md-button ui-sref="app.main.dashboards.dashboardCreator">New Dashboard</md-button>
  </div>
</md-subheader>
  <md-input-container flex style="max-width: 30vw; margin-left: 322px;">
    <label>Search</label>
    <input ng-model="item">
  </md-input-container>
  <md-content class="fx-bounce-normal fx-easing-bounce" ng-repeat="item in dashboards | filter: item">
    <md-card id="dashboard-list">
      <md-toolbar class="md-accent">
          <div class="fab parent-button">
            <div class="sub-button tl" ng-click="edit($event)">Edit</div>
            <div class="sub-button br" ng-click="delete()">Delete</div>
            <div class="sub-button bl" ng-click="changeColor($event)">Color</div>
            <div class="sub-button tr" ng-click="loadDash(item.id)">View</div>
          </div>
        <span class="md-toolbar-tools">
          <span>{{item.title}}</span>
        </span>
      </md-toolbar>
      <md-card-content>
        <span><i>{{item.lastSaved}}</i></span>
        <p>
          {{item.comment}}
        </p>
      </md-card-content>
    </md-card>
  </md-content>

