<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div class="md-toolbar-item">
        <h4>
          <md-button aria-label="Sidenav" ng-click="toggleLeft()" class="md-primary">
            <ng-md-icon icon="dehaze"></ng-md-icon>
          </md-button>
          Spectre Widgets
        </h4>
      </div>
      <div class="md-toolbar-item md-tools" layout="column" layout-gt-md="row">
        <div>
          <md-button ng-click="logout()">logout</md-button>
        </div>
      </div>
    </div>
  </md-toolbar>
</md-content>

  <ui-view></ui-view>

 <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" style="height: 100vh">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Profile</h1>
      </md-toolbar>
      <md-content class="md-padding">
        <div class="md-tile" class="md-tile-content" layout="row" layout-align="center">
        <img class="avatar" src={{picture}} alt="hello">
        </div>
        <!-- Tab creation-->
        <md-tabs style="margin-left: 30px" md-selected="data.selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            Data
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            Settings
          </md-tab>
        </md-tabs>
        <!--Functionality of tabs-->
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
          <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <md-switch ng-model="twitAuth" ng-change="onChange('twitAuth')">Twitter</md-switch>
          </div>
          <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-switch ng-model="fbAuth" ng-change="onChange('fbAuth')">Facebook</md-switch>
          </div>
          <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-switch ng-model="googleAuth" ng-change="onChange('googleAuth')">Google</md-switch>
          </div>
          <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-switch ng-model="githubAuth" ng-change="onChange('githubAuth')">Github</md-switch>
          </div>
          <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-switch ng-model="mailchimpAuth" ng-change="onChange('mailchimpAuth')">Mail Chimp</md-switch>
          </div>
          <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-switch ng-model="instagramAuth" ng-change="onChange('InstagramAuth')">Instagram</md-switch>
          </div>
        </ng-switch>
      </md-content>
    </md-sidenav>
 </section>
