#login-container {
  margin-left: 350px;
  margin-top: 100px;
  width: 50vw;
  padding: 0px;
}
.navbar {
  background-color: #da4453 !important;
}
.btn {
  background-color: #4a89dc !important;
}
.footer {
  bottom: 0;
  padding: 10px;
  height: 200px;
}
.link {
  margin-top: 5px;
  color: #434a54 !important;
}
.navbar-header {
  margin-top: -10px;
}
body {
  background-color: #f5f7fa !important;
}
.side-nav {
  height: 100vh;
  width: 20vw;
  background-color: #222;
  border-top: thin solid #000;
  border-bottom: thin solid #000;
}
nav {
  width: 100vw;
  background-color: #222;
  height: 50px;
  overflow: scroll;
}
.nav {
  overflow: scroll;
}
.dashboard-body {
  padding: 0px;
}
.logout-btn {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #aab2bd;
  margin-right: 20px;
}
.logout-btn:hover {
  color: #fff !important;
  cursor: pointer;
}
.nav-choice {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 255px;
  color: #9d9d9d;
}
.nav-choice:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.navbar-brand {
  color: #9d9d9d;
}
.glyphicon {
  margin-right: 10px;
  margin-left: 30px;
}
